header {
    color: black;
    background-color: lightblue;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
body{    
    margin: 0; 
    padding: 0;
    background-color: rgba(173, 216, 230, 0.651);
}
ul{

    list-style-type: none;
}
ul li{
    align: left;
    display: inline;
    border: 5px double #48BAE4; height: auto; padding: 2px;

}
table {
    
}